extends blocks/_layout

append content

  main
    .top_block(class="container")
      .top_block__breadcrumbs
        nav.top_breadcrumbs
          ul.top_breadcrumbs_list
            li.top_breadcrumbs_item <img src="../img/breadcrumbs_home.png" alt="">
            li.top_breadcrumbs_item >
            li.top_breadcrumbs_item Обучение по охране труда
            li.top_breadcrumbs_item >
            li.top_breadcrumbs_item 0. Охрана труда

      .main(class="container")
        .main_section__tablet
          .main_section
            h1.main_section__title Обучение по промышленной безопасности в Тюмени
          .sidebar
            .accordion
              .accordion_list
                li.accordion_item
                  input(type="checkbox" checked)
                  i
                  h2.title_block Промышленная безопасность
                  .msg
                      p О. Обучение работе населения в области гражданской обороны и защиты от чрезвычайных ситуаций природного и техногенного характера
                li.accordion_item
                  input(type="checkbox" checked)
                  i
                  h2.title_block Пожарная безопасность
                  .msg
                      p О. Обучение работе населения в области гражданской обороны и защиты от чрезвычайных ситуаций природного и техногенного характера
                li.accordion_item
                  input(type="checkbox" checked)
                  i
                  h2.title_block
                    span Охрана труда
                  .msg
                      p О. Обучение работе населения в области гражданской обороны и защиты от чрезвычайных ситуаций природного и техногенного характера

                li.accordion_item
                  input(type="checkbox" checked)
                  i
                  h2.title_block
                    span Профессиональная подготовка рабочих
                  .msg
                      p О. Обучение работе населения в области гражданской обороны и защиты от чрезвычайных ситуаций природного и техногенного характера
                li.accordion_item
                  input(type="checkbox" checked)
                  i
                  h2.title_block
                    span Строительный контроль
                  .msg
                      p О. Обучение работе населения в области гражданской обороны и защиты от чрезвычайных ситуаций природного и техногенного характера
                li.accordion_item
                  input(type="checkbox" checked)
                  i
                  h2.title_block
                    span Электробезопасность (на группу допуска)
                  .msg
                      p О. Обучение работе населения в области гражданской обороны и защиты от чрезвычайных ситуаций природного и техногенного характера
                li.accordion_item
                  input(type="checkbox" checked)
                  i
                  h2.title_block
                    span Экологическая безопасность
                  .msg
                      p О. Обучение работе населения в области гражданской обороны и защиты от чрезвычайных ситуаций природного и техногенного характера
                li.accordion_item
                  input(type="checkbox" checked)
                  i
                  h2.title_block
                    span Работы на высоте
                  .msg
                      p О. Обучение работе населения в области гражданской обороны и защиты от чрезвычайных ситуаций природного и техногенного характера
                li.accordion_item
                  input(type="checkbox" checked)
                  i
                  h2.title_block
                    span Первая помощь
                  .msg
                      p О. Обучение работе населения в области гражданской обороны и защиты от чрезвычайных ситуаций природного и техногенного характера
                li.accordion_item
                  input(type="checkbox" checked)
                  i
                  h2.title_block
                    span Обучение по ГО и ЧС
                  .msg
                      p О. Обучение работе населения в области гражданской обороны и защиты от чрезвычайных ситуаций природного и техногенного характера
                li.accordion_item
                  input(type="checkbox" checked)
                  i
                  h2.title_block
                    span Профессиональная переподготовка
                  .msg
                      p О. Обучение работе населения в области гражданской обороны и защиты от чрезвычайных ситуаций природного и техногенного характера
                li.accordion_item
                  input(type="checkbox" checked)
                  i
                  h2.title_block Безопасность дорожного движения
                  .msg
                      p О. Обучение работе населения в области гражданской обороны и защиты от чрезвычайных ситуаций природного и техногенного характера