extends blocks/_layout

append content
	main
		.cart-container
			.cart-offset
			.cart-content
				.cart-header
					h1.cart-title Козина
					button.cart-downloal-list(id="cart-downloal-list-js" ) Загрузить список учащихся

				.cart-item
					.cart-item__left
						.cart-item__left-title
							img(src="../img/course_work.png", alt="")
							span Промышленная безопасность
						.cart-item__left-detail
							.left-detail-count
								span.name Количество
								span.count 444
							.left-detail-summ
								span.name Количество
								span.summ 4 444 444
					.cart-item__right
						.info-block
							.info-block__left
								p.title
									span Р.2.16. 
									|Подготовка персонала на допуск к производству работ в охранной зоне магистральных газопроводов
								.cart-right-buttons
									button.cart-right-buttons__show(id="cart-show" title="Show")
										img(src="../img/cart-show.png", alt="")
									button.cart-right-buttons__user(id="cart-user" title="User")
										img(src="../img/cart-user.png", alt="")
									button.cart-right-buttons__close(id="cart-close" title="Close")
										img(src="../img/cart-close.png", alt="")
							.info-block__right
								.price
									span.name цена / руб.
									span.price-value 2800
								.count
									span.name Количество
									span.price-value 2800
								.summ
									span.name сумма
									span.summ-value 2 800 000
									span.currency руб.
						.info-block
							.info-block__left
								p.title
									span Р.2.16. 
									|Подготовка персонала на допуск к производству работ в охранной зоне магистральных газопроводов
								.cart-right-buttons
									button.cart-right-buttons__show(id="cart-show" title="Show")
										img(src="../img/cart-show.png", alt="")
									button.cart-right-buttons__user(id="cart-user" title="User")
										img(src="../img/cart-user.png", alt="")
									button.cart-right-buttons__close(id="cart-close" title="Close")
										img(src="../img/cart-close.png", alt="")
							.info-block__right
								.price
									span.name цена / руб.
									span.price-value 2800
								.count
									span.name Количество
									span.price-value 2800
								.summ
									span.name сумма
									span.summ-value 2 800 000
									span.currency руб.
						.info-block
							.info-block__left
								p.title
									span Р.2.16. 
									|Подготовка персонала на допуск к производству работ в охранной зоне магистральных газопроводов
								.cart-right-buttons
									button.cart-right-buttons__show(id="cart-show" title="Show")
										img(src="../img/cart-show.png", alt="")
									button.cart-right-buttons__user(id="cart-user" title="User")
										img(src="../img/cart-user.png", alt="")
									button.cart-right-buttons__close(id="cart-close" title="Close")
										img(src="../img/cart-close.png", alt="")
							.info-block__right
								.price
									span.name цена / руб.
									span.price-value 2800
								.count
									span.name Количество
									span.price-value 2800
								.summ
									span.name сумма
									span.summ-value 2 800 000
									span.currency руб.
