extends blocks/_layout

append content

	main
		.top_block
			.container.contacts-page
				section#contacts(class="sticky-header-first-section")
					h1 Контактные данные
					div.page-header-divider
					div.contacts-text-wrap
						h4 Почтовый адрес
						p Тюменская область, г. Тюмень, ул. Республики, 164, стр. 2, оф. 410.
						h4 Учебный отдел:
						p Телефон: 8 (3452) 515-016
						p Электронная почта: 
							a(href="mailto:info@dpo-stbt.ru") info@dpo-stbt.ru
						h4 По вопросам сотрудничества просим предварительно отправлять коммерческое предложение на электронную почту 
							a(href="mailto:advert@dpo-stbt.ru") advert@dpo-stbt.ru
