extends blocks/_layout

append content
	-
		var options = [
			{
				value: "all",
				text: "Выберите направление"
			},
						{
				value: "all",
				text: "Промышленная безопасность"
			},
						{
				value: "2204",
				text: "Пожарная безопасность"
			},
						{
				value: "2208",
				text: "Охрана труда"
			},
						{
				value: "2210",
				text: "Профессиональная подготовка рабочих"
			},
						{
				value: "2212",
				text: "Строительный контроль"
			},
						{
				value: "2245",
				text: "Электробезопасность (на группу допуска)"
			},
			
		]
	main
		.top_block.container
			section#price-section(class="sticky-header-first-section")
				.row
					.col-md-12
						h1 Цены
				.row
					.col-md-4.col-xs-12
						select.direction-select(class="form-control" id="direction-select" name="choose-direction")
							each item in options
								option(value=item.value)=item.text
				#direction-2204(class="row direction-wrapper")
					.col-md-12
						h2.direction-title Промышленная безопасность
						.courses-table
							h4 А. Общие требования промышленной безопасности
							.courses-table(data-v-79c30469)
								.row.courses-table-head.d-none.d-md-flex(data-v-79c30469)
									.col-md-1(data-v-79c30469) Шифр
									.col-md-5(data-v-79c30469) Наименование образовательных программ
									.col-md-1.font-12(data-v-79c30469) Кол-во часов
									.col-md-1.const-col(data-v-79c30469) Стоимость
									.col-md-1(data-v-79c30469) Краткое описание
									.col-md-1.font-12(data-v-79c30469) Кол-во человек
									.col-md-2(data-v-79c30469)
								.row.courses-table-content
									.col-md-1(data-v-79c30469)
										label.shop-mobile-label.d-sm-flex.d-md-none(data-v-79c30469) Код:
										span(data-v-79c30469) А.1.
									.col-md-5(data-v-79c30469) Основы промышленной безопасности
									.col-md-1(data-v-79c30469)
										label.shop-mobile-label.d-sm-flex.d-md-none(data-v-79c30469) Количество часов:
										span(data-v-79c30469) 40
									.col-md-1.const-col(data-v-79c30469) 
										label.shop-mobile-label.d-sm-flex.d-md-none(data-v-79c30469) Цена:
										span(data-v-79c30469) 1000 ₽
									.col-md-1(data-v-79c30469)
										button.btn.btn-short-course-info(data-v-79c30469)
											span.showCourseInfoMob.d-sm-flex.d-md-none(data-v-79c30469) Показать детали
											i.fa.fa-sticky-note(data-v-79c30469)
									.col-md-1.amount-col(data-v-79c30469)
										input.course-amount(data-v-79c30469="" type="number" min="1" value="1")
									.col-md-2(data-v-79c30469)
										button.btn.send-to-cart(data-v-79c30469) В корзину
											i.fa.fa-shopping-cart(data-v-79c30469)
									.courses-info-modal.modal.fade(data-v-79c30469="" tabindex="-1" role="dialog" id="course-info-6" style="display: none;" aria-hidden="true")
										.modal-dialog(data-v-79c30469="" role="document")
											.container(data-v-79c30469="")
												button.close.d-sm-flex.d-md-none(data-dismiss="modal" data-v-79c30469="" type="button") X
												h3(data-v-79c30469="") А.1. Основы промышленной безопасности
												.row(data-v-79c30469="")
													.col-md-3(data-v-79c30469="")
														label(data-v-79c30469) Наименование программы
													.col-md-9(data-v-79c30469="") А. Общие требования промышленной безопасности
												.row(data-v-79c30469="")
													.col-md-3(data-v-79c30469="")
														label(data-v-79c30469="") Количество часов
													.col-md-9(data-v-79c30469="") 40
												.row(data-v-79c30469="")
													.col-md-3(data-v-79c30469="")
														label(data-v-79c30469="") Темы
													.col-md-9(data-v-79c30469="")
														ul(data-v-79c30469="")
															li(data-v-79c30469="") 1.Российское законодательство в области промышленной безопасности
															li(data-v-79c30469="") 2.Российское законодательство в области градостроительной деятельности
															li(data-v-79c30469="") 3.Техническое регулирование. Требования к техническим устройствам, применяемым на опасных производственных
																| объектах
															#collapseTopics-6(data-v-79c30469="" style="display: none;")
																li(data-v-79c30469="") 5.Порядок расследования причин аварий и несчастных случаев на опасных производственных объектах</li>
																li(data-v-79c30469="") 6.Обязательное страхование гражданской ответственности за причинение вреда при эксплуатации
																	| опасного производственного объекта
																li(data-v-79c30469="") 7.Регистрация опасных производственных объектов</li>
																li(data-v-79c30469="") 8.Обязанности организаций в обеспечении промышленной безопасности. Ответственность 
																	| за нарушение законодательства в области промышленной безопасности</li>
																li(data-v-79c30469="") 9.Экспертиза промышленной безопасности</li>
																li(data-v-79c30469="") 10.Декларирование промышленной безопасности. Анализ опасности и риска</li>
															a.read-more-toggle(data-v-79c30469="" href="#collapseTopics-6") Показать больше
												.row(data-v-79c30469)
													.col-md-3(data-v-79c30469="")
														label(data-v-79c30469="") Документы
													.col-md-9(data-v-79c30469="")
														ul(data-v-79c30469="")
															li(data-v-79c30469="") № 190-ФЗ от 29.12.2004 г. Градостроительный Кодекс РФ (с изменениями на 31 декабря 2017 года)
															li(data-v-79c30469="") № 195-ФЗ от 30.12.2001 г. Кодекс Российской Федерации об административных правонарушениях 
																|(с изменениями на 23 апреля 2018 года)
															li(data-v-79c30469="") ТР ТС 012/2011. О безопасности оборудования для работы во взрывоопасных средах
															#collapseDocs-6(data-v-79c30469="" style="display: none;")
																li(data-v-79c30469="") № 492 от 10.06.2013 г. О лицензировании эксплуатации взрывопожароопасных и химически опасных
																	| производственных объектов I, II и III классов опасности (с изменениями на 28 февраля 2018 года)
																li(data-v-79c30469="") № 116-ФЗ от 21.07.1997 г. О промышленной безопасности опасных производственных объектов 
																	| (с, изменениями, на, 7, марта, 2017, года)
																li(data-v-79c30469="") № 184-ФЗ от 27.12.2002 г. О техническом регулировании (с изменениями на 29 июля 2017 года)
																li(data-v-79c30469="") № 225-ФЗ от 27.07.2010 г. Об обязательном страховании гражданской ответственности владельца опасного
																	| объекта за причинение вреда в результате аварии на опасном объекте (с изменениями на 23 июня 2016 года) (редакция,
																	| действующая с 11 сентября 2017 года)
																li(data-v-79c30469="") № 263 от 10.03.1999 г. Об организации и осуществлении производственного контроля за соблюдением
																	| требований промышленной безопасности на опасном производственном объекте (с изменениями на 28 февраля 2018 года)
																li(data-v-79c30469="") № 306 от 15.07.2013 г. Общие требования к обоснованию безопасности опасного производственного объекта
																li(data-v-79c30469="") № 730 от 26.08.2013 г. Положение о разработке планов мероприятий по локализации и ликвидации
																	| последствий аварий на опасных производственных объектах
																li(data-v-79c30469="") № 480 от 19.08.2011 г. Порядок проведения технического расследования причин аварий, инцидентов и 
																	| случаев утраты взрывчатых материалов промышленного назначения на объектах, поднадзорных Федеральной службе по 
																	| экологическому, технологическому и атомному надзору (с изменениями на 15 августа 2017 года)
																li(data-v-79c30469="") № 916 от 3.11.2011 г. Правила обязательного страхования гражданской ответственности владельца
																	| опасного объекта за причинение вреда в результате аварии на опасном объекте (Утратило силу с 12 апреля 2017 года
																	| на основании постановления Правительства РФ от 30 марта 2017 года № 358)
																li(data-v-79c30469="") № 526 от 11.05.1999 г. Правила представления декларации промышленной безопасности опасных
																	| производственных объектов
																a.read-more-toggle(data-v-79c30469="" href="#collapseDocs-6") Показать больше
												.row(data-v-79c30469="")
													.col-md-3(data-v-79c30469="")
													.col-md-9(data-v-79c30469="")
														button.btn.send-to-cart(data-v-79c30469="" ) В корзину
															i.fa.fa-shopping-cart(data-v-79c30469="")