doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(type="text/css", href="css/main.css", rel="stylesheet")
		link(type="text/css", href="fonts/fonts.css", rel="stylesheet")
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	body
		include _header
		block content

		
		include _footer
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(src="js/tab.js")
	script(src="js/prefixfree.min.js")
	script(src="js/magnific-popup.js")
	script(src="js/common.js")
	script(src="js/inner-modal.js")
